html
  head
    link(href="style.css", rel="stylesheet")
    script(src="feedback.js")
  body
    img#img(src="data:image/png;base64," + image)
    #id
    each concept in concepts
      p #{concept.name}: #{concept.value}
    button(onclick="evergreen()", class="label-button") Evergreen
    button(onclick="deciduous()", class="label-button") Deciduous
    a.label-button(href='http://localhost:3000') Next Image